= form_for(@song) do |f|
  - if @song.errors.any?
    #error_explanation
      %h2
        = pluralize(@song.errors.count, "error")
        prohibited this song from being saved:
      %ul
        - @song.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :bpm
    %br
    = f.text_field :bpm
  .field
    = f.label :artists
    %br
    = f.text_field :artists, value: ''
  .actions
    = f.submit

- data = @artists.map(&:name)
:javascript
  $(function() {
    var availableArtists = #{ data }
    debugger;
    $( "#song_artists" ).autocomplete({
      source: availableArtists
    });
  });
