= simple_form_for(@song) do |f|
  - if @song.errors.any?
    #error_explanation
      %h2
        = pluralize(@song.errors.count, "error")
        prohibited this song from being saved:
      %ul
        - @song.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :bpm
    %br
    = f.text_field :bpm
  .field
    = f.input :artist_names
  .actions
    = f.submit

:javascript
  $("#song_artist_names").tagsInput({
    autocomplete_url: '/api/artist?only_name=true',
    defaultText: ''
  });
-#  $(function() {
-#    $.getJSON('/api/artist?only_name=true', function(data) {
-#      console.log('loaded autocompletes');
-#      $("#song_artists").autocomplete({
-#         source: data
-#      });
-#    })
-#  });
