.h2
  = link_to 'Add new song', :new_song
- @songs.each do |s|
  .div
    = link_to "Song Name: #{s.title}, #{pluralize_without_count(s.artists.count, "Artist")}: #{s.artists.map(&:name).join(', ')}", edit_song_path(id: s.id), class: 'no-link-underline'
    

